body {
    margin:0;
    font-family: Verdana;
}

.card{
    width: 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #F653A6;
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-bottom: 8px solid purple;
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

